<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
    </head

<body>
<div id="pageDiv">
       <header>
            <div class="">
               <h1>Travel Planner</h1>
            </div>
        </header>

        <main>
            <section id="tripRequest">
		        <div id="trip_request">
					<h1>Get a idea of the weather for your upcoming trip</h1>
					<form class="" id="travelPlannerForm">
					<div> 
					Please enter a valid Trip Destination .... Example: Dallas or Boston
						<input id="destName" type="text" name="destname" required value="" placeholder="Destination">
					</div>
					<div> 
					Please enter a date when you are leaving on your trip .... Example: 09/21/2020
						<input id="destDate" type="date" name="destdate" required value="" placeholder="TripDate">
					</div>
						<input type="submit" name="submit" class="button" id="submitButton" value="Submit">
						<div id="errorDiv" style="display: none;">
							<span id="errMsg"></span> 
						</div>

					</form>
		        </div>
            </section>

            <section id="tripResult" style="display: none;" >
				<div id="tripResultDiv"> 
					<div>
						<img id="cityPic" src="../views/noImage.png" alt="city image">
						<img id="cityPic2" src="../views/noImage.png" style="display: none" alt="city image">
						<img id="cityPic3" src="../views/noImage.png" style="display: none" alt="city image">
						</br>
						<button id="nextPicture" class="button">Next Picture</button>
						<input type="hidden" id="picNum" name="picNum" value="1">
					</div>
					</br>
					<div id="mainDiv">
						<div id="goingToDiv">
							You are going to:
							<span id="destination"></span>
						</div>
						</br>
						<div id="daysDiv">
							Leaving in : <span id="daysLeft"></span> days
						</div>
						</br>
						<div id="temperatureDiv">
							<span id="weatherType"></span> <span id="temperature"></span> degrees, and
							<span id="weather"></span>.
						</div>
						</br>
						<div>
							<button id="resetTrip" class="button">Enter a new Trip</button>
						</div>
					</div>
				</div>
            </section>
			
            <section id="tripError" style="display: none;" >
				<div id="errorDiv">
					Trip Destination Not Found !
				</div>
            </section>
			
        </main>

        <footer>
            <p>Enjoy your Trip !</p>
        </footer>

</div>






<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
